* {
    overflow: hidden;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    padding: 0px;
    margin: 0px;

}

p {
    margin: 1px;
}

button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 3px;
}

button:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

button:active {
    position: relative;
    top: 1px;
}

input , select,option{
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    font-family: Arial;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    text-shadow: 0px 1px 0px #000000;
    min-width: 200px;
}

input:focus {
    outline: none;
}

mf {
    overflow-y: auto;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    max-height: 800px;
    max-width: 400px;
    margin:0px;
}

toolbar {
    top: 0px;
    position: sticky;
    display: inline-table;
    width: 400px;
    border-width: 0px;
    border-bottom-color: #262626;
    border-bottom-width: 1px;
    border-style: inset;
    background-color: #000000;
}

toolbar>* {
    cursor: pointer;
    display: inline-table;
    background-color: #262626;
    height: 45px;
    width: 45px;
    font-size: 225%;
    text-align: center;
}

categories {
    top: 45px;
    position: sticky;
    margin-top: 5px;
    width: 395px;
    display: inline-block;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: unset;
    background-color: grey;
}

categories>* {
    margin-right: 3px;
    display: inline-block;
    overflow: hidden;
    border-style: none;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #979797;
    height: 30px;
    min-width: 98px;
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    background-color: #111111;
    cursor: pointer;
}

b{
    color: red;
    font-size: 80%;
    float: right;
}

catF{
    background-color: grey;
}

event {
    display: table;
    border-style: none;
    width: 397px;
    height: 15px;
    border-width: 1px;
    border-top-style: outset;
    border-color: #303030;
    font-size: 125%;
    cursor: pointer;
}

NewWindow {
    padding: 10px;
    position: absolute;
    border-color: white;
    top: 58px;
    left: 50px;
    height: 300px;
    width: 250px;
    background-color: rgba(14, 14, 14, 0.993);
    font-size: 125%;
}